<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  {{!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> --}}
  <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
  <div class="container mt-4">
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome to TokenVerse</h1>
      <p class="lead">TokenVerse is your ultimate platform for managing and showcasing Non-Fungible Tokens (NFTs). Explore public NFT collections, manage your own collections, and enjoy a secure and user-friendly environment.</p>
      <a href="/auth/register" class="btn btn-primary btn-lg">Get Started</a>
      <a href="/nfts" class="btn btn-info btn-lg">NFT Collection</a>
      <a href="/nfts/add" class="btn btn-success btn-lg">Create Your Own NFT</a>
    </div>
  </div>
  {{!-- <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script> --}}
</body>
</html>
